<h2>Щоб замовити погоду спочатку обери місце на карті </h2>
<div id="map" class="map"></div>
    <!-- 
      The `defer` attribute causes the callback to execute after the full HTML
      document has been parsed. For non-blocking uses, avoiding race conditions,
      and consistent behavior across browsers, consider loading using Promises
      with https://www.npmjs.com/package/@googlemaps/js-api-loader.
      -->
      
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfD-bhdR6yF_Gb4I8n3N1UiwM1HQFjKSE&callback=initMap&v=weekly"
      defer
    ></script>